*{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.top{
    background-color: rgba(30,30,30,0.7);
    height: 8vh;
    width: 100%;
    text-align: center;
    position: fixed;
    transition: 0.5s;
    z-index : 10;
}

.chkbox{
    display: none;
}

.navbar{
    font-family: 'Noto Sans JP', sans-serif;    
    margin-left: 13%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    list-style-type: none;
    margin :0;
    padding:0;
    display: flex;
}

.navbar li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2.5vh;
    padding-right : 1rem;
}

.navbar a{
    color :#fff ;
}

.navbar a:hover{
    text-decoration : underline;
    color : #304D6D ;
}

.header{
    background-image: url("image.jpg");  
    height: 100vh;
    background-repeat: no-repeat;   
    background-size:100vw 100vh;
}

.header-logo{
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3vm;
    color : #fff;
    float: left;
}

.header-logo b{
    text-align: center;
}

.header-logo img{
    padding : 0% 0% 0% 0%;
    width: 30px;
    border-radius: 50%;
    height:30px;
}

.imageon{
    font-family: 'Noto Sans JP', sans-serif;
    /* padding : 10px 100px 0px 400px; */
    font-weight: 100px;
    padding-top : 50vh;
    color :#fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size : 16.5vh;
}

.addition{
    align-self: center;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    /* padding-left: 50px; */
    font-size : 6vh;
}

.main{
    position: relative;
    height: 1000px;
    width: 100%; 
}

.info{
    background-color:#fff;
}

.quote , .TeamMember h1{
    font-size: 7vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top:15%;
    color:#000;
}

.Motive {
    width : 60%;
    margin-left: 24%;
    padding-top:8%;
    text-align: center;
}

.TeamMember{
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    height: 400%;
    text-align: center;
}

.Motive p{
    text-align: justify;
    font-size: 3vh;
    color:#757575;
    line-height: 1.6;
    word-spacing: 5.5px;    
}

.TeamMember p{
    word-spacing: 4px;
    text-align: center;
    font-size: 25px;
    color:#757575;
    font-family: 'Dancing Script', cursive;
    line-height: 1.6;
}

.Motive span{
    color: #2176FF;
}

.cell{
    flex-grow : 1;
    margin-bottom: 2%;
}

.cell1{
    padding-top : 40px;
    width: 452px;
    height: 350px;
}

.cell:hover , .cell1:hover{
    box-shadow: 5px 5px 10px rgb(0,0,0,0.05),-5px -5px 10px rgb(0,0,0,0.05);
}

.details img{
    border-radius: 50%;
    margin-top : 50px;
    margin-bottom: 40px;;
}

.details{
    display:flex;
    justify-content : space-evenly;
    flex-flow : wrap;
}

.footer{
    background: #191919;
    height:4%;
}

.footer ul{
    padding-top : 9px;
    padding-bottom : 9px;
    padding-left : 20%;
    text-align : center;
}

.footer li , .footer a{
    margin-left : 40px;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    color : #92926c;
    float : left;
    font-size : 2.5vh;
}

.footer li:hover , .footer a:hover{
    text-decoration: underline;   
    color : #757575;
}

@viewport{
    zoom:1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom:1.0;
}

@media only screen and (max-width: 800px) {
    .header{
        height: 100vh;
        background-size : 100% 100%;
    }

    .navbar{
        margin: 0%;
        padding: 0%;
        width: 100vw;
    }

    .chkbox{
        display: block;
    }

    .navbar ul{
        height: 100vh;
        width: 100vw;
        display : none;
        background-color: rgb(0,0,0,0.3);
    }

    .titleblock{
        margin-left: 10%;
        width : 30%;
    }

    .header-logo {
        display: none;
    }

    .imageon{
        font-size : 9vh; 
        /* position: fixed; */
    }

    .addition{
        font-size : 3vh;
    }

    .cell , .cell1{
        width: 40%;
    }

    .TeamMember{
        height: 650%;
    }

    .footer ul{
        padding-top : 8px;
        padding-bottom : 8px;
        padding-left : 20vw;
        text-align : center;
    }

    .footer li{
        margin-left : 2px;
    }
}

@media only screen and (max-width: 400px) {
    .cell , .cell1{
        width: 90%;
    }

    .TeamMember{
        height: 920%;
    }

    /* .navbar li{
        font-size : 1.5vh;
    } */

    .imageon{
        font-size : 7.5vh;
    }

    .footer ul{
        padding-top : 8px;
        padding-bottom : 8px;
        padding-left : 10%;
        text-align : center;
    }

    .hide{
        display: none;
    }
}
