*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:white;
}

.header{
    background-image: url("aboutusimg2.PNG");
    background-size: 100% 500px;
    height: 500px;   
}

.header-logo{
    font-size:10px;
    color:white;
    float: left;
}

.header-logo b{
    padding: 7px 0px 0px 5px;
    font-size: 20px;
    float : right;
}

.header-logo img{
    padding : 5px 0px 0px 5px;
    width: 30px;
    height:30px;
}

.navbar{
    float: right;
    padding:8px 30px 0px 30px;
}

.navbar a:hover{
    background-color: #f39d1a;
}

.navigation{
    padding-left: 30px;
    padding-top:4px;
    height: 27px;
    position: relative;
    top:64%;
    left:33%;
    transform: translate(10px);
    z-index: 1;
    background-color:#0009;
}

.navigation li{
    list-style-type: none;
    display: inline-block;
    top:10%;
    width: 145px;
}

.navigation li a{
    color:grey;
}

.navigation li a:hover{
    background-color:Snow;
}

.main{
    background-size: 100% 75%;
    position: relative;
    height: 2000px;
    width: 100%; 
}

.titleblock{
    background-color:#0009;
    color:white;
    height:40px;
}

.info{ 
    background-color:#011a32; 
}

.quote {
    //padding-left: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top:100px;
    font-style: italic;
    color:green;
}

.Motive , .Events  {
    width: 800px;
    height: 800px;
    margin-left: 350px;
    padding-top:100px;
    text-align: center
}

.Team-Member{
    background-color: #192024;
    width: 100%;
    height: 500px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color:white;
}

.Motive p , .Events p ,.Team-Member p{
    font-size:35px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color:rgb(255, 255, 255 );
}

.Events li{
    padding-top:40px;
    font-size: 50px;
    color:white;
}

.Events span {
    color:white;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    font-size:50px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.Team-Member span{
    color:rgb(235, 224, 224);
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    font-size:50px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.cells{
    padding-left:175px;
    padding-right: 175px;
}

.cell{
    margin:2%;
}

.details img{
    border-radius: 50%;
}

.details{
    margin:0.1%;
    display:flex;
    justify-content: space-around;
}


.footer{
    background: rgb(34, 33, 33);
    height:150px;
}

.footer-logo{
    float: left;
}

.footer-logo img{
    padding:10px;
    height: 100px;
    width: 100px;
    color:white;
}

.footer-list{
    float:right;
    padding:10px 100px 50px 0px;
    color:white;
}

.footer-list img{
    height:50px;
}
