*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:white;
}

.header{
    background-image: url("aboutusimg.jpg");
    background-size: 100% 500px;
    height: 500px;   
}

.header-logo{
    font-size:25px;
    color:white;
    float: left;
}

.header-logo b{
    padding: 7px 0px 0px 5px;
    float : right;
}

.header-logo img{
    padding : 5px 0px 0px 5px;
    width: 30px;
    height:30px;
}

.titleblock{
    margin-left:25%;
    background-color:#0001;
    width : 750px;
    color:white;
    height:40px;
    box-shadow: 2px 2px grey;
}

.navbar ul{
    list-style-type: none;
}

.navbar li{
    font-size:25px;
    float: right;
    padding:8px 50px 0px 0px;
}

.navbar a:hover{
    background-color: #f39d1a;
}

.navigation{
    padding-left: 20px;
    padding-top:4px;
    height: 27px;
    position: absolute;
    top:487px;
    left:37%;
    box-shadow: 2px 2px 50px grey;
    transform: translate(1px);
    z-index: 1;
    background-color:#FFFAF0;
}

.navigation li{
    list-style-type: none;
    display: inline-block;
    font-size:20px;
    width: 145px;
}

.navigation li a{
    color:rgb(0,0,0);
}

.navigation li a:hover{
    background-color:#f39d1a;
}

.main{
    background-size: 100% 75%;
    position: relative;
    height: 2000px;
    width: 100%; 
}

.info{
    //background-color:#FFFFF0;
    background-color:#FFF5EE;  
}

.quote {
    //padding-left: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top:100px;
    font-style: italic;
    color:green;
}

.Motive {
    width: 800px;
    height: 800px;
    margin-left: 350px;
    padding-top:100px;
    text-align: center
}

.Team-Member{
    background-color: #192024;
    width: 100%;
    height: 1200px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color:white;
}

.Motive p ,.Team-Member p{
    font-size:35px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color:rgb( 0,0,0 );
}

.Team-Member span{
    color:rgb(235, 224, 224);
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    font-size:50px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.cells{
    padding-left:175px;
    padding-right: 175px;
}

.cell{
    margin:2%;
}

.details img{
    border-radius: 50%;
}

.details{
    margin:0.1%;
    display:flex;
    justify-content: space-around;
}


.footer{
    background: rgb(34, 33, 33);
    height:150px;
}

.footer-logo{
    float: left;
}

.footer-logo img{
    padding:10px;
    height: 100px;
    width: 100px;
    color:white;
}

.footer-list{
    float:right;
    padding:10px 100px 50px 0px;
    color:white;
}

.footer-list img{
    height:50px;
}
